{{!-- <!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
</head>

<body style="background:#f3eee8; padding:0px; margin:0px; ">
    <div
        style="width:800px; font-size:14px; font-family:Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;  margin:0px auto; display:block; background:#fff url(https://i.ibb.co/CvwpLJj/forgot-image.jpg) no-repeat; background-position:bottom right; box-shadow:0px 0px 10px rgba(0,0,0,0.1); min-height:535px; margin-top:100px; padding-top:30px;">
        <div style="background:#bc8743; width:100%; display:block;">
            <div style="width:175px;  display:block; margin-left: auto; margin-right:auto; background: #fff; padding:5px;">
                <img src="https://trade.canamcurrencyexchange.com/assets/images/canam-logo.png" alt="Canam Currency Exchange" width="100%" /></div>
        </div>
        <div style=" line-height:25px; width:396px; text-align:center; padding:30px;">
            <h3>Hello {{name}},</h3>
            
            <p>Your Trade <span style="color:#b2833a; font-weight:bold;"> {{tradeId}} </span> has been added successfully</p>
            <div style="margin-top:15%; display:block; width:100%;">
                <p>Thank you for your business.<br>
                    Regards,<br>
                    <strong>CanAm</strong><br>
                    Currency Exchange</p>
            </div>
        </div>
        <div
            style="border-top:1px solid #bb8742; display:block; width:396px; text-align:center; padding:15px; margin-top: 25px;">
            Email : <span style="color:#b2833a; font-weight:bold;">support@canamcurrency.com</span>
        </div>
    </div>
</body>

</html> --}}









<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Trade Request</title>
</head>

<body style=" padding:0px; margin:0px; ">
    <div
        style="width:800px;border:1px solid #0f2346; font-size:14px; font-family:Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;  margin:0px auto; display:block; background:#fff url(https://i.ibb.co/nLZdjsj/mail-image.jpg) no-repeat; background-position: right; box-shadow:0px 0px 10px rgba(0,0,0,0.1); min-height:535px; margin-top:100px; padding-top:30px;">
        <div style="background:#0f2346; width:100%; display:block;">
            <div style="width:175px;  display:block; margin-left: auto; margin-right:auto; background: #fff; padding:5px;">
                <img src="http://canam.blz.in/assets/images/canam-logo.png" alt="Canam Currency Exchange" width="100%" /></div>
        </div>
        <div style=" line-height:25px; width:396px; text-align:center; padding:30px;">
            <h3>Hello {{name}},</h3>
            <p>Your Trade <span style="color:#0f2346; font-weight:bold;"> {{tradeId}} </span> has been added successfully</p>
            <div style="margin-top:15%; display:block; width:100%;">
                <p>Thank you for your business.<br>
                    Regards,<br>
                    <strong>CanAm</strong><br>
                    Currency Exchange</p>
            </div>
        </div>
        <div
            style="border-top:1px solid #0f2346; display:block; text-align:center; padding:15px; margin-top: 133px;">
            Email : <span style="color:#0f2346; font-weight:bold;">support@canamcurrency.com</span>
        </div>
    </div>
</body>

</html>